body {
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-header {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.logo-and-title {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .logo-and-title {
        flex-direction: row;
    }
}


.navbar-fixed-top {
    position: relative;
}

.navbar.navbar-inverse {
    background-color: #e5f6fc;
    border-color: #12272b;
    color: white;
}

.footer-text {
    margin-top: 15px;
    text-align: center;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    min-width: 400px;
    display: flex;
    align-items: center;
}

#header-logo {
    width: 70px;
    height: 70px;
}

#header-title {
    display: inline;
    margin: 15px;
    color: black;
}

.container {
    max-width: 60%;
    min-width: 400px;
}

#intro-text {
    font-size: 18px;
    margin: 0;
}

.dropdown-title {
    font-size: 22px;
}

#predict-content {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px auto;
}

.predict-and-atc-input {
    display: flex;
    justify-content: space-around;
}

.predict-input {
    width: 55%;
}

.atc-input {
    width: 40%;
}

#text-smiles-input {
    width: 100%;
    resize: none;
}

#file-input-form {
    display: none;
}

#file-input {
    display: flex;
    align-items: center;
}

#smiles-column {
    margin-right: 5px;
}

#draw-input-form {
    display: none;
}

#draw-smiles-input {
    display: none;
}

#jsme_container {
    width: 100%;
    height: 400px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #777;
}

ol li {
    color: #777;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.prediction-container {
    display: flex;
    flex-wrap: wrap;
}

.atc-and-download {
    display: flex;
    align-items: center;
}

.alert {
    margin-top: 20px;
}

.atc-and-download p {
    margin: 0;
}

.download-results {
    margin-left: auto;
}

.download-remaining {
    display: flex;
}

.prediction-category-container {
    flex: 1;
    width: 100%;
}

.prediction-header {
    display: flex;
    align-items: center;
}

.prediction-category-image {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.prediction-table {
    min-width: 300px;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-color: #8dec9c;
    width: 95%;
    margin: 10px;
}

.dataset-tooltip, .lower-accuracy-tooltip {
    font-size: 15px;
}

th, td {
    padding: 4px;
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 12px;
}

th {
    background-color: #9c9c9c;
    color: rgb(23, 23, 23);
}

#drugbank-plot {
    flex: 1;
    text-align: center;
}

#drugbank-plot-inner {
    width: 80%;
    display: inline-block;
}

#drugbank-plot-controls {
    text-align: center;
}

.mol-image, .radial-plot {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    margin-left: 20px;
    background-color: #f8f4f4;
    float: right;
    height: 100%;
}

.tooltip-inner {
    max-width: 250px;
}

.dropdown-item {
    cursor: pointer;
}

.collapse-button {
    display: flex;
    align-items: center;
}

.collapse, .collapsing {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

.btn-link2 {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    background-color: #e5f6fc;
    text-decoration: none;
}

.btn-link2:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.molecule-prediction {
    margin-top: 25px;
}

.molecule-svg-container {
    margin-left: auto;
    height: 250px;
    display: flex;
    justify-content: center;
}

.table-header {
    color: #007bff;
    margin-left: 15px;
}

.data-link {
    color: black
}

.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-left: 5px;
    margin-right: 15px;
}

.arrow-down {
    border-top: 30px solid black;
}

.arrow-up {
    border-bottom: 30px solid black;
}

.dropdown {
    display: inline;
}

.dropdown-menu {
    max-height: 250px;
    overflow-y: scroll;
}

.smiles-and-svg-container {
    width: 90%;
}

.smiles-container {
    font-size: x-large;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
