<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import chemdraw, error_message, warning_message, radial_description_list,
radial_description_tooltip %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/predict.js')}}"></script>
    <script>
        // Heartbeat to indicate that the user is still interacting with the session
        function sendHeartbeat() {
            fetch('/heartbeat', {method: 'POST'});
        }

        setInterval(sendHeartbeat, "{{ heartbeat_frequency * 1000 }}");
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' id='classic-theme-styles-css'
          href='https://greenstonebio.com/wp-includes/css/classic-themes.min.css?ver=6.2.2' media='all'/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>ADMET-AI</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid header logo-and-title">
        <a href="https://admet.ai.greenstonebio.com">
            <div class="navbar-header">
                <img id="header-logo" src="../static/images/ADMET.jpg"
                     alt="ADMET-AI Logo"/>
                <h2 id="header-title">ADMET-AI</h2>
            </div>
        </a>
        <p id="intro-text">
            <b>ADMET-AI</b> is a simple, fast, and accurate web interface for predicting the <b>A</b>bsorption,
            <b>D</b>istribution,
            <b>M</b>etabolism, <b>E</b>xcretion, and <b>T</b>oxicity (<strong>ADMET</strong>)
            properties of molecules using machine learning models.
        </p>
    </div>
</nav>

<div id="spinner-overlay" class="spinner-overlay">
    <div class="spinner"></div>
</div>

<div class="container" id="description">
    <h1>ADMET-AI</h1>

    <button id="background-collapse-button" class="btn btn-link2 collapse-button" type="button" data-toggle="collapse"
            data-target="#background-text" aria-expanded="false" aria-controls="background-text">
        <div id="background-arrow" class="arrow arrow-down"></div>
        <strong class="dropdown-title">Background</strong>
    </button>
    <div id="background-text" class="collapse">
        <p>
            <strong><u>ADMET:</u></strong> The evaluation of pharmacokinetics and toxicity is crucial for the design of
            new therapeutic candidates.
            <i>In silico</i> virtual screens and generative AI output a vast number of molecules that must be
            filtered to a tractable number for synthesis and experimental validation. An effective primary filter
            is to evaluate candidate compounds based on their <b>A</b>bsorption, <b>D</b>istribution,
            <b>M</b>etabolism, <b>E</b>xcretion, and <b>T</b>oxicity (<strong>ADMET</strong>) properties.
        </p>
        <p>
            <strong><u>ADMET-AI:</u></strong> ADMET-AI is a simple, fast, and accurate web interface for predicting
            the ADMET properties of molecules using machine learning models.
        </p>
        <p>
            <strong><u>Models:</u></strong> ADMET-AI predicts ADMET properties using a graph neural network architecture
            called <strong>Chemprop-RDKit</strong> (see the <a href="https://github.com/chemprop/chemprop">Chemprop</a>
            package for details). ADMET-AI's Chemprop-RDKit models were trained on 41 ADMET datasets from
            the <a href="https://tdcommons.ai/" target="_blank">Therapeutics Data Commons (TDC)</a>.
            ADMET-AI’s Chemprop-RDKit models have the <strong>highest average rank</strong> on the
            <a href="https://tdcommons.ai/benchmark/admet_group/overview/" target="_blank">TDC ADMET Benchmark Group
                leaderboard</a>. ADMET-AI is also currently the fastest web-based ADMET predictor.
        </p>
        <p>
            <strong><u>References:</u></strong> The ADMET-AI code can be found at <a
                href="https://github.com/swansonk14/admet_ai" target="_blank">github.com/swansonk14/admet_ai</a>, and
            ADMET-AI is described in detail in this paper:
            <a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btae416/7698030?utm_source=authortollfreelink&utm_campaign=bioinformatics&utm_medium=email&guestAccessKey=f4fca1d2-49ec-4b10-b476-5aea3bf37045" target="_blank">ADMET-AI: A machine
                learning ADMET platform for evaluation of large-scale chemical libraries</a>. Please cite us if
            ADMET-AI is useful in your work.
        </p>
    </div>

    <br>

    <button id="use-collapse-button" class="btn btn-link2 collapse-button" type="button" data-toggle="collapse"
            data-target="#use-text" aria-expanded="false" aria-controls="use-text">
        <div id="use-arrow" class="arrow arrow-down"></div>
        <strong class="dropdown-title">Use</strong>
    </button>
    <div id="use-text" class="collapse">
        <h3>Input</h3>
        <p>
            <strong><u>Molecules:</u></strong> ADMET-AI can make predictions for up to <strong>{{
            "{:,}".format(max_molecules) }}</strong> molecules at a time by (1)
            providing SMILES (one per line) in the text box, (2) uploading a CSV file with SMILES, or (3) drawing a
            molecule using the interactive tool and then converting it to a SMILES.
        </p>
        <p>
            <strong><u>DrugBank Reference:</u></strong> To provide relevant context, ADMET predictions on input
            molecules are compared to predictions on {{ "{:,}".format(drugbank_total_size) }} approved drugs from the <a
                href="https://go.drugbank.com/"
                target="_blank">DrugBank</a>. This
            reference set can be filtered to a specific category of drugs for a more relevant comparison by selecting an
            <a href="https://www.whocc.no/atc_ddd_index/" target="_blank">Anatomical
                Therapeutic Chemical (ATC)</a> code.
        </p>
        <p>
            <strong><u>Predict:</u></strong> After selecting input molecules and a DrugBank reference set, click the
            “Predict” button to make ADMET predictions.
        </p>
        <h3>Output</h3>
        <p>
            <strong><u>Summary Plot:</u></strong> The summary plot shows the distribution of ADMET predictions
            for all input molecules compared to the DrugBank reference set. The x- and y-axes
            can be changed to show any two ADMET properties.
        </p>
        <p>
            <strong><u>Radial Plot:</u></strong> For each input molecule, a radial plot is shown summarizing
            five key ADMET properties in terms of their DrugBank percentile:
        </p>
        {{ radial_description_list() }}
        <p>
            <strong><u>ADMET Predictions:</u></strong> Clicking on each displayed molecule will show the molecule’s
            ADMET predictions in tabular form. For each molecule, ADMET-AI computes 8 physicochemical properties
            using <a href="https://www.rdkit.org/docs/index.html" target="_blank">RDKit</a> and predicts 41 ADMET
            properties using its Chemprop-RDKit graph neural networks.
            For regression properties, the property is directly predicted with the units shown. For
            classification properties, the predicted value is the probability that the molecule has the
            property (e.g., probability of blood-brain barrier penetration).
            Additionally, the percentile of the molecule’s property compared to the DrugBank reference is shown. Note:
            For regression properties, the displayed value is clipped to a valid range (e.g., &#8805;0 for half life)
            while the downloaded results contain the original value.
        </p>
        <p>
            <strong><u>Download Predictions:</u></strong> Predictions for the first <strong>{{
            "{:,}".format(max_visible_molecules) }}</strong> molecules
            are shown on the website. Predictions for all input molecules can be downloaded as a CSV file by clicking
            the “Download Results” button.
        </p>
        <h3>Notes</h3>
        <p>
            <strong><u>Storing Molecules:</u></strong> ADMET-AI does <strong>not</strong> store any molecules uploaded
            to the website. All molecules are deleted after predictions are made.
        </p>
    </div>

    <br>

    <button id="local-collapse-button" class="btn btn-link2 collapse-button" type="button" data-toggle="collapse"
            data-target="#local-text" aria-expanded="false" aria-controls="local-text">
        <div id="local-arrow" class="arrow arrow-down"></div>
        <strong class="dropdown-title">Local Prediction</strong>
    </button>
    <div id="local-text" class="collapse">
        <p>ADMET-AI can be run locally as a <strong>command line tool</strong> for large-scale batch prediction or as a
            <strong>Python module</strong> for use within other Python-based drug discovery tools. Please see <a
                    href="https://github.com/swansonk14/admet_ai"
                    target="_blank">github.com/swansonk14/admet_ai</a> for more
            details.
        </p>
    </div>
</div>

<div class="container" id="predict-content">
    <div class="predict-and-atc-input">
        <div class="predict-input">
            <h2>Predict</h2>

            {% set max_molecules_text = " up to <strong>{:,}</strong> ".format(max_molecules) if max_molecules else " "
            %}

            <p>Input{{ max_molecules_text | safe }}molecules to make ADMET predictions.</p>

            <form id="molecule-form" enctype="multipart/form-data" method="POST">
                <!--SMILES upload type selector-->
                <div class="btn-group" id="input-select" data-toggle="buttons">
                    <label id="text-button" class="btn btn-primary active">
                        <input type="radio" name="input-type" value="text" autocomplete="off"> Text Input
                    </label>
                    <label id="file-button" class="btn btn-primary">
                        <input type="radio" name="input-type" value="file" autocomplete="off"> Upload File
                    </label>
                    <label id="draw-button" class="btn btn-primary">
                        <input type="radio" name="input-type" value="button" autocomplete="off"> Draw Molecule
                    </label>
                    <label id="example-button" class="btn btn-primary">
                        <input type="radio" name="input-type" value="button" autocomplete="off"> Example
                    </label>
                </div>

                <!--SMILES input-->
                <div id="text-input-form">
                    <h5>SMILES (one per line)</h5>
                    <textarea id="text-smiles-input" name="text-smiles" cols="100" rows="10" placeholder="SMILES"
                              required>{{ text_smiles }}</textarea>
                </div>
                <div id="file-input-form">
                    <h5>CSV file containing SMILES in the provided column</h5>
                    <div id="file-input">
                        <input id="file-smiles-input" type="file" name="data" accept=".csv">
                        <span id="smiles-column"><b>SMILES column: </b></span>
                        <input id="file-smiles-column" name="smiles-column" placeholder="SMILES column" value="smiles">
                    </div>
                </div>
                <div id="draw-input-form">
                    <h5>Draw a molecule</h5>
                    {{ chemdraw() }}
                    <input id="draw-smiles-input" name="draw-smiles" placeholder="SMILES">
                </div>

                <br>

                <button id="predict-button" type="submit" class="btn btn-primary btn-md">Predict</button>
            </form>
        </div>

        <div class="atc-input">
            <h2>DrugBank Reference</h2>
            <p>Create a DrugBank reference set to provide context for ADMET predictions.</p>
            <p>Choose an
                <a href="https://www.whocc.no/atc_ddd_index/" target="_blank">Anatomical
                    Therapeutic Chemical (ATC)</a> code to select a subset of DrugBank approved drugs or choose "all"
                for
                all
                approved drugs.</p>
            <p>Selected ATC code "<strong id="selected-atc-code">{{ atc_code }}</strong>" includes <strong
                    id="drugbank-size">{{
                "{:,}".format(drugbank_size)
                }}</strong> molecules.</p>

            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Select ATC Code
                </button>
                <div class="dropdown-menu">
                    <input class="form-control" id="atc-selection" type="text" placeholder="Search..">
                    <li>
                        {% for drugbank_atc_code in drugbank_atc_codes %}
                        <a class="dropdown-item atc-item">{{ drugbank_atc_code }}</a>
                        {% endfor %}
                    </li>
                </div>
            </div>
        </div>
    </div>

    {% if warnings %}
    {% for warning in warnings %}
    {{ warning_message(warning) }}
    {% endfor %}
    {% endif %}

    {% if errors %}
    {% for error in errors %}
    {{ error_message(error) }}
    {% endfor %}
    {% endif %}

    <hr>

    {% if predicted %}

    <h2>ADMET Predictions</h2>

    <div class="atc-and-download">
        <p><strong><u>Input:</u> {{ "{:,}".format(num_molecules) }}</strong> {{ "molecule" if num_molecules == 1 else
            "molecules"
            }}. <strong><u>DrugBank reference:</u> {{ "{:,}".format(drugbank_size) }}</strong> {{ "molecule" if
            drugbank_size
            == 1 else "molecules"
            }} with ATC code
            "<strong
                    id="applied-atc-code">{{ atc_code }}</strong>".</p>

        <a href="{{ url_for('download_predictions') }}" class="download-results">
            <button class="btn btn-primary">Download Results</button>
        </a>
    </div>

    <hr>

    {% if drugbank_plot %}
    <button id="drugbank-collapse-button" class="btn btn-link2 collapse-button" type="button" data-toggle="collapse"
            data-target="#drugbank" aria-expanded="false" aria-controls="drugbank">
        <div id="drugbank-arrow" class="arrow arrow-down"></div>
        <strong class="dropdown-title">Summary Plot</strong>
    </button>
    <div id="drugbank" class="collapse">
        <div id="drugbank-plot">
            <div id="drugbank-plot-inner">
                {{ drugbank_plot | safe }}
            </div>
        </div>

        <br>

        <div id="drugbank-plot-controls">
            {% for axis in ["y", "x"] %}
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Select DrugBank {{ axis }}-axis property
                </button>
                <div class="dropdown-menu">
                    <input class="form-control" id="drugbank-{{ axis }}-axis-selection" type="text"
                           placeholder="Search..">
                    <li>
                        {% for task in drugbank_tasks %}
                        <a class="dropdown-item drugbank-{{ axis }}-axis-item">{{ task }}</a>
                        {% endfor %}
                    </li>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}

    <hr>

    <ul id="list">
        {% for smiles_index in range(num_display_molecules) %}
        {% set smiles = all_smiles[smiles_index] %}

        <li class="index molecule-prediction">
            <button id="molecule-{{ smiles_index }}-collapse-button"
                    class="btn btn-link2 collapse-button"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse-info-{{ smiles_index }}" aria-expanded="false"
                    aria-controls="collapse-info-{{ smiles_index }}">
                <div id="molecule-{{ smiles_index }}-arrow" class="arrow arrow-down mol-arrow"></div>
                <div class="smiles-and-svg-container">
                    <div class="smiles-container">
                        <strong>Molecule
                            {{ smiles_index + 1 }}: {{
                            smiles }}</strong>
                    </div>
                    <div class="molecule-svg-container">
                        <div id="radial-plot-{{ smiles_index }}" class="radial-plot" data-toggle="tooltip"
                             data-html="true" title="{{ radial_description_tooltip() }}">
                            {{ radial_svgs[smiles_index] | safe }}
                        </div>
                        <div id="molecule-image-{{ smiles_index }}" class="mol-image">
                            {{ mol_svgs[smiles_index] | safe }}
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        let buttonName = `molecule-{{ smiles_index }}`;
                        $(`#${buttonName}-collapse-button`).click(function () {
                            let arrow_div = $(`#${buttonName}-arrow`);
                            arrow_div.toggleClass("arrow-up");
                            arrow_div.toggleClass("arrow-down");
                        });
                    });
                </script>
            </button>

            <div id="collapse-info-{{ smiles_index }}" class="collapse">
                <div class="prediction-container">
                    {% for category in ["Physicochemical", "Absorption", "Distribution", "Metabolism", "Excretion",
                    "Toxicity"] %}
                    <div class="prediction-category-container">
                        <div class="prediction-header">
                            <img src="../static/images/{{ category.lower() }}.jpg" alt="{{ category }}"
                                 class="prediction-category-image"/>
                            <h3 class="table-header">{{ category }}</h3>
                        </div>

                        <table class="prediction-table">
                            <thead>
                            <tr>
                                {% set value_name = "value" if category == "Physicochemical" else "prediction" %}
                                <th data-toggle="tooltip" title="The {{ category.lower() }} property.">Property</th>
                                <th data-toggle="tooltip"
                                    title="{{ 'Value computed by RDKit.' if category == 'Physicochemical' else 'Prediction by ADMET-AI\'s Chemprop-RDKit graph neural network.' }}">
                                    {{ "Value" if category == "Physicochemical" else "Prediction" }}
                                </th>
                                <th data-toggle="tooltip"
                                    title="The percentile of the molecule's {{ value_name }} compared to the DrugBank reference of {{ '{:,}'.format(drugbank_size) }} {{ 'molecule' if num_molecules == 1 else 'molecules' }} with ATC code &quot;{{ atc_code }}&quot;.">
                                    DrugBank Percentile
                                </th>
                                <th data-toggle="tooltip"
                                    title="Units of the {{ value_name }}. &quot;-&quot; indicates that the {{ value_name }} is the probability that the molecule has that property.">
                                    Units
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% set category_info = admet_info[admet_info["category"] == category] %}
                            {% for _, row in category_info.iterrows() %}

                            <tr>
                                <td><strong>
                                    <a href={{ row["url"] }} target="_blank" class="data-link">
                                    {{ row["name"] }}
                                    </a>
                                    {% if category != "Physicochemical" %}
                                    {% if row["task_type"] == "classification" %}
                                    {% set first_metric = "AUROC" %}
                                    {% set second_metric = "AUPRC" %}
                                    {% else %}
                                    {% set first_metric = "R^2" %}
                                    {% set second_metric = "MAE" %}
                                    {% endif %}
                                    <span
                                            class="glyphicon glyphicon-question-sign dataset-tooltip"
                                            data-toggle="tooltip"
                                            data-html="true"
                                            data-placement="right"
                                            title="Dataset Size: {{ '{:,.0f}'.format(row['size']) }}<br>
                                            {{ 'Species: {}<br>'.format(row['species']) if row['species'] != '-' else '' }}
                                            {{ string_to_html_sup('{}: {:.2f}'.format(first_metric, row[first_metric])) | safe }}<br>
                                            {{ string_to_html_sup('{}: {:.2f}'.format(second_metric, row[second_metric])) | safe }}
                                            {{ '<br>TDC Leaderboard Rank: {}'.format(row['tdc_rank']) if row['tdc_rank'] != '-' else '' }}">
                                                                </span>
                                    {% if row[first_metric] < low_performance_threshold %}
                                    <span
                                            class="glyphicon glyphicon-warning-sign lower-accuracy-tooltip"
                                            data-toggle="tooltip"
                                            data-placement="right"
                                            title="Lower accuracy">
                                                                            </span>
                                    {% endif %}
                                    {% endif %}
                                </strong></td>

                                <td>
                                    {% set pred = smiles_to_property_id_to_pred[smiles][row["id"]] %}
                                    {% set pred = min(max(pred, row["minimum"]), row["maximum"]) %}
                                    {{ ("{:.2f}" if pred == 0 or pred > 0.005 or pred < -0.005 else "{:.2e}").format(pred) }}
                                </td>

                                <td>
                                    {{
                                    "{:.2f}".format(smiles_to_property_id_to_pred[smiles][row["id"] + "_" +
                                    drugbank_approved_percentile_suffix])
                                    }}%
                                </td>
                                {% if row["units"] == "-" %}
                                <td data-toggle="tooltip"
                                    title="&quot;-&quot; indicates that the {{ value_name }} is the probability that the molecule has that property.">
                                    {% else %}
                                <td>
                                    {% endif %}
                                    {{ string_to_html_sup(row["units"]) | safe }}
                                </td>

                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
        </li>
        {% endfor %}
    </ul>

    {% if num_molecules > num_display_molecules %}
    <div class="download-remaining">
        <p>... and {{ num_molecules - num_display_molecules }} more. Download for full predictions.</p>
        <a class="download-results" href="{{ url_for('download_predictions') }}">
            <button class="btn btn-primary">Download Results</button>
        </a>
    </div>
    {% endif %}
    {% endif %}

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="footer-text"><a href="https://admet.ai.greenstonebio.com">ADMET-AI</a> is a
            collaboration
            between <a href="https://greenstonebio.com/" target="_blank">Greenstone Biosciences</a> and <a
                    href="https://www.james-zou.com/" target="_blank">Prof. James Zou's lab</a> at Stanford University ©
            2024. <a
                    href="https://github.com/swansonk14/admet_ai" target="_blank">Code</a>. <a
                    href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btae416/7698030?utm_source=authortollfreelink&utm_campaign=bioinformatics&utm_medium=email&guestAccessKey=f4fca1d2-49ec-4b10-b476-5aea3bf37045" target="_blank">Paper</a>. Version {{ version }}.</p>
    </div>
</nav>
</body>
</html>
