<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import chemdraw, error_message, warning_message %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/predict.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' id='classic-theme-styles-css'
          href='https://greenstonebio.com/wp-includes/css/classic-themes.min.css?ver=6.2.2' media='all'/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>ADMET-AI</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px">
        <div class="navbar-header">
            <a href="https://admet.ai.greenstonebio.com"><img src="../static/images/ADMET.jpg" alt="ADMET AI Logo"
                                                              style="width:70px;height:70px;"/></a>
            <h3 style="display: inline">ADMET AI</h3>
        </div>
    </div>
</nav>

<div class="container" id="description">
    <h1>ADMET-AI Prediction</h1>
    <h4>Background</h4>
    <!--    <p>-->
    <!--        The evaluation of pharmacokinetics and toxicity is crucial for the design of new therapeutic candidates.-->
    <!--        In silico virtual screens and generative AI approaches output a vast number of molecules that must be-->
    <!--        filtered to a tractable number for synthesis and experimental validation. An effective primary filter-->
    <!--        is needed for the evaluation of the candidate compounds for their <b>A</b>bsorption, <b>D</b>istribution,-->
    <!--        <b>M</b>etabolism, <b>E</b>xcretion, and <b>T</b>oxicity (ADMET) profiles.-->
    <!--    </p>-->
    <p><b>ADMET-AI</b> provides a simple, fast, and accurate web interface to enable users to predict the <b>A</b>bsorption,
        <b>D</b>istribution,
        <b>M</b>etabolism, <b>E</b>xcretion, and <b>T</b>oxicity (ADMET) properties of molecules.
        ADMET-AI uses a graph neural network called Chemprop-RDKit, which was trained on 41 ADMET datasets from
        the <a href="https://tdcommons.ai/">Therapeutics Data Commons</a> (TDC). ADMET-AI’s Chemprop-RDKit model has the
        highest average rank on the
        TDC ADMET Benchmark Group <a href="https://tdcommons.ai/benchmark/admet_group/overview/">Leaderboard</a> and it
        is also currently the fastest web-based ADMET predictor.</p>
    <!--    <p>-->
    <!--        The details regarding the training and evaluation of the model are described in an article titled: A novel-->
    <!--        machine-->
    <!--        learning ADMET platform for evaluation of large-scale chemical libraries.-->
    <!--    </p>-->
    <!--    <p>-->
    <!--        The predictor has been applied to evaluate cardiovascular drugs and drugs with cardiovascular effects in an-->
    <!--        article-->
    <!--        titled: ADMET profiles of known cardiovascular drugs accurately predicted using a novel machine learned-->
    <!--        Predictor.-->
    <!--    </p>-->

    <br>

    <h4>Use</h4>
    <p>
        ADMET-AI can make predictions for up to 1,000 molecules at a time by either (1)
        providing SMILES (one per line) in the text box, (2) uploading a CSV file with SMILES in the
        first column, or (3) drawing a molecule using the interactive tool and converting it to a SMILES.
        ADMET-AI can make predictions for roughly 10 molecules per second.
    </p>
    <p>
        For regression ADMET properties, the property value is directly predicted with the units shown. For
        classification ADMET properties, the prediction value is the probability of the molecule having that
        property (e.g., probability of blood-brain barrier penetration).
    </p>
    <p>
        For context, the ADMET predictions are
        compared to a set of 2,579 molecules from the DrugBank that have received regulatory approval, and the
        percentile of each prediction is shown with respect to this set of DrugBank molecules. This reference set
        can be filtered to a specific category of drugs for a more relevant comparison by selecting an <a
            href="https://www.whocc.no/atc_ddd_index/">Anatomical
        Therapeutic Chemical</a> (ATC) code from the dropdown menu below.
    </p>
    <!--    <p>-->
    <!--        Note: ADMET-AI does NOT store any molecules uploaded to the website. All molecules are deleted after predictions-->
    <!--        are made.-->
    <!--    </p>-->

    <br>

    <h4>Local Prediction</h4>
    <p>ADMET-AI can also be run locally as a command line tool for large-scale batch prediction or as a Python module
        for use within other Python-based tools (e.g., as a reward for a generative AI model for drug design). Please
        see <a href="https://github.com/swansonk14/admet_ai">https://github.com/swansonk14/admet_ai</a></p>
</div>
</body>

<body>
<div class="container" id="content">
    {% if max_molecules %}
    <p>Note: Predictions can be made for at most {{ max_molecules }} molecules at a time.</p>
    {% endif %}

    <form enctype="multipart/form-data" method="POST">
        <!--SMILES upload type selector-->
        <div class="btn-group" id="inputSelect" data-toggle="buttons">
            <label id="textButton" class="btn btn-primary active">
                <input type="radio" name="inputType" value="text" autocomplete="off"> Text Input
            </label>
            <label id="fileButton" class="btn btn-primary">
                <input type="radio" name="inputType" value="file" autocomplete="off"> Upload File
            </label>
            <label id="drawButton" class="btn btn-primary">
                <input type="radio" name="inputType" value="button" autocomplete="off"> Draw Molecule
            </label>
            <label id="exampleButton" class="btn btn-primary">
                <input type="radio" name="inputType" value="button" autocomplete="off"> Example
            </label>
        </div>

        <br>

        <!--SMILES input-->
        <div id="textInputForm">
            <h5>SMILES (one per line)</h5>
            <textarea id="textSmilesInput" name="textSmiles" cols="100" rows="10" placeholder="SMILES"
                      style="width: 100%" required></textarea>
        </div>
        <div id="fileInputForm" style="display:none">
            <h5>File containing SMILES (one per line)</h5>
            <input id="fileSmilesInput" type="file" name="data" accept=".csv">
        </div>
        <div id="drawInputForm" style="display:none">
            <h5>Draw a molecule</h5>
            {{ chemdraw() }}
            <br>
            <button type="button" id="convertToSmiles" class="btn btn-primary btn-xs">Convert to SMILES</button>
            <input id="drawSmilesInput" name="drawSmiles" placeholder="SMILES">
        </div>

        <br>

        <button type="submit" class="btn btn-primary btn-md">Predict</button>
    </form>

    <br>
    <br>

    <div id="drugbank-plot" style="flex: 1; text-align: center;">
        <div style="width: 70%; display: inline-block;">
            {{ drugbank_plot|safe }}
        </div>
    </div>

    {% if drugbank_plot %}
    <br>

    <div id="drugbank-plot-controls" style="text-align: center">
        <div class="dropdown" style="display: inline">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Select ATC Code
            </button>
            <div class="dropdown-menu">
                <input class="form-control" id="atc-selection" type="text" placeholder="Search..">
                <li>
                    {% for atc_code in drugbank_atc_codes %}
                    <a class="dropdown-item atc-item" style="cursor: pointer">{{ atc_code }}</a>
                    {% endfor %}
                </li>
            </div>
        </div>

        {% for axis in ["x", "y"] %}
        <div class="dropdown" style="display: inline">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Select DrugBank {{ axis }}-axis property
            </button>
            <div class="dropdown-menu">
                <input class="form-control" id="drugbank-{{ axis }}-axis-selection" type="text" placeholder="Search..">
                <li>
                    {% for task in drugbank_tasks %}
                    <a class="dropdown-item drugbank-{{ axis }}-axis-item" style="cursor: pointer">{{ task }}</a>
                    {% endfor %}
                </li>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <br>

    {% if predicted %}
    <hr>

    <a href="{{ url_for('download_predictions') }}">
        <button class="btn btn-default btn-md">Download Results</button>
    </a>

    <br><br>

    {% if warnings %}
    {% for warning in warnings %}
    {{ warning_message(warning) }}
    {% endfor %}
    {% endif %}

    {% if errors %}
    {% for error in errors %}
    {{ error_message(error) }}
    {% endfor %}
    {% endif %}

    <ul id="list">
        {% for smiles_index in range(num_display_smiles) %}
        {% set smiles = all_smiles[smiles_index] %}

        <li class="index">
            <div>
                <button id="collapseButton{{ smiles_index }}" class="btn btn-link2" type="button" data-toggle="collapse"
                        data-target="#collapseInfo{{ smiles_index }}" aria-expanded="false"
                        aria-controls="collapseInfo{{ smiles_index }}" style="display: flex; align-items: center;">
                    <strong style="font-size: x-large; text-wrap: wrap;">Molecule {{ smiles_index + 1 }}: {{
                        smiles }} </strong>
                    <div id="molecule-image{{ smiles_index }}" class="mol-image" style="margin-left: auto">
                        {{ mol_svgs[smiles_index]|safe }}
                    </div>
                </button>
            </div>

            <div id="collapseInfo{{ smiles_index }}" class="collapse">
                <div style="display: flex; flex-wrap: wrap;">
                    {% for category in ["Absorption", "Distribution", "Metabolism", "Excretion", "Toxicity"] %}
                    <div style="flex: 1; width: 100%;">
                        <div style="display: flex;">
                            <h3 class="table_header">{{ category }}</h3>
                            <img src="../static/images/{{ category.lower() }}.jpg" alt="{{ category }}"
                                 style="width:50px; height:50px; margin-left: 225px;"/>
                        </div>

                        <!--TODO: make this programmatic to prevent repetition-->
                        <table style="width: 90%; margin: 10px;">
                            <thead>
                            <tr>
                                <th>Model</th>
                                <th>Prediction</th>
                                <th>DrugBank Percentile{{ " (ATC filter)" if session.get("atc_code", "all") != "all"
                                    else "" }}
                                </th>
                                <th>Units</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% set category_info = admet_info[admet_info["category"] == category] %}
                            {% for _, row in category_info.iterrows() %}

                            <tr>
                                <td><strong>
                                    <a href={{ row["url"] }} target="_blank" class="data_link">
                                    {{ row["name"] }}
                                    </a>
                                    <span
                                            class="glyphicon glyphicon-question-sign"
                                            style="font-size:15px"
                                            data-toggle="tooltip"
                                            data-html="true"
                                            data-placement="right"
                                            title="Dataset {{ row['metric'] }}: {{ '{:.4f}'.format(row['performance']) }}<br>
                                            Dataset Size: {{ '{:,}'.format(row['size']) }}<br>
                                            TDC Leaderboard Rank: {{ row['rank'] }}">
                                                                </span>
                                    {% if row["performance"] < 0.6 %}
                                    <span
                                            class="glyphicon glyphicon-warning-sign"
                                            style="font-size:15px" data-toggle="tooltip"
                                            data-placement="right"
                                            title="Lower accuracy">
                                                                            </span>
                                    {% endif %}
                                </strong></td>

                                <td>
                                    {{ "{:.4f}".format(smiles_to_preds[smiles][row["id"]]["prediction"]) }}
                                </td>

                                <td>
                                    {{
                                    "{:.2f}".format(smiles_to_preds[smiles][row['id']]["drugbank_approved_percentile"])
                                    }}%
                                <td>
                                    {{ row["units"] }}
                                </td>

                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
        </li>
        {% endfor %}
    </ul>

    {% if show_more > 0 %}
    <p>... and {{ show_more }} more. Download file for full predictions.</p>
    {% endif %}
    {% endif %}

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left"><a href="https://admet.ai.greenstonebio.com">ADMET-AI</a> is a collaboration
            between <a href="https://greenstonebio.com/">Greenstone Biosciences</a> and <a
                    href="https://www.james-zou.com/">Prof. James Zou's lab</a> at Stanford University © 2023. <a
                    href="https://github.com/swansonk14/admet_ai">Source Code</a>.</p>
    </div>
</nav>
</body>
</html>
